<header>
  <div class="main-header">
    <div class="menu-wrapper my-auto">
      <!-- Icono -->
      <img src="../../../assets/images/icons/ic_menu.svg" />
      <label for="">
        <span>Dashboard</span>
      </label>
    </div>
    <div class="search-wrapper d-none d-md-block">
      <!-- icono -->
      <i nz-icon nzType="search" nzTheme="outline"></i>
      <input type="search" placeholder="Busca lo que necesites aquí..." />
    </div>
    <div class="user-wrapper">
      <img src="../../../assets/images/profile/profile-jw.jpg" width="40px" alt="" />
      <div class="profile-title">
        <span>Kenny Bell</span>
        <small>Encargado</small>
      </div>
    </div>
  </div>
</header>